<head>

    <%- include('../partials/head') %>
</head>

<body>

<div class="container-fluid">

    <h3>Hello <%= playerName %></h3>

    <% if (gameType == 'pictionary')  { %>

    <hr>
    <div class="row">
        <div class="col-12">
            <h4>Le tue carte</h4>
        </div>
    </div>

    <!-- 
        Start card container with player's cards
    -->


<% if(typeof player == 'object' && player) { %>
    <div class="row">
        <div class="col-12">
            <div class="row row-cols-1 row-cols-md-4">
                <% for(var i = 0; i < player.cards.length; i++){ %>
                <div class="col mb-4">
                    <div class="card border-secondary mb-3" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title"><%= player.cards[i].category %></h5>
                        <p class="card-text"><%= player.cards[i].word %></p>
                        </div>
                    </div>
                </div> 
            <% } %>

            </div>
        </div>
    </div>        
<% } %>
     <!-- 
        End card container with player's cards
    -->

    <div class="row">
        <div class="col-12">
            
            <form action="/pictionary/drawCard" type="GET">

                <input value="<%= playerName %>" name="playerName" hidden>
                <input value="<%= gameType %>" name="gameType" hidden>
                <input value="<%= gameName %>" name="gameName" hidden>

                <button type="submit" class="btn btn-primary">Pesca una carta</button>

            </form>  
        </div>
    </div>


    <hr>
    <div class="row">
        <div class="col-12">
        
            <h4>Carte condivise</h4>
        </div>
    </div>

    <!-- 
        Start card container with shared cards
    -->
        

    <% if(typeof sharedDeck == 'object' && sharedDeck) { %>
        <div class="row">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-4">
                    
                <% for(var i = 0; i < sharedDeck.cards.length; i++){ %>
                    <div class="col mb-4">
                        <div class="card border-secondary mb-3" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title"><%= sharedDeck.cards[i].category %></h5>
                            <p class="card-text"><%= sharedDeck.cards[i].word %></p>
                            </div>
                        </div> 
                    </div>
                    <% 
                    }
                    %>
                </div>
            </div>
        </div>
        <% } %>
    <!-- 
        End card container with shared cards
    -->
    <div class="row">
        <div class="col-12">
        
                
            <form action="/pictionary/pass" type="GET">

                <input value="<%= playerName %>" name="playerName" hidden>
                <input value="<%= gameType %>" name="gameType" hidden>
                <input value="<%= gameName %>" name="gameName" hidden>

                <button type="submit" class="btn-info btn">Finisci il turno</button>


            </form>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="col-12">
        
            <form action="/pictionary/refresh" type="GET">
                <button type="submit" class="btn btn-primary">Refresh</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="float-sm-right">
                <form action="/game/logout" type="GET">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
